<ava-hdr-app [icon]="'glyphicon-briefcase'" [pageName]="'Profissionais'"></ava-hdr-app>
<div class="page-content">
    <table class="table table-borded table-striped table-hover table-responsive">
        <thead>
            <tr>    
                <th>ID</th>
                <th>PID</th>
                <th>EID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Telefone</th>  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let professional of professionals" (click)="profissionalDetails(professional)">
                <td>{{professional.professionalId}}</td>
                <td>{{professional.pid}}</td>
                <td>{{professional.eid}}</td>
                <td>{{professional.name}}</td>
                <td>{{professional.email | emailHider}}</td>
                <td>{{professional.role}}</td>
                <td>{{professional.phone}}</td>
            </tr>
        </tbody>
    </table>
    <form name="professionalForm" *ngIf="professional">
        <div class="row">
            <div class="col-md-6">
                <label for="">PID</label>
                <input type="text" [ngModel]="professional.pid" (ngModelChange)="professional.pid = $event" class="form-control" name="pidName" placeholder="{{professional.pid}}">
            </div>
            <div class="col-md-6">
                <label for="">EID</label>
                <input type="text" name="eidImput" [ngModel]="professional.eid" (ngModelChange)="professional.eid = $event" class="form-control" placeholder="{{professional.eid}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">Nome</label>
                <input type="text" name="nameInput" [ngModel]="professional.name" (ngModelChange)="professional.name = $event" class="form-control" placeholder="{{professional.name}}">
            </div>
            <div class="col-md-6">
                <label for="">Email</label>
                <input type="email" name="emailInput" [ngModel]="professional.email" (ngModelChange)="professional.email = $event" class="form-control" placeholder="{{professional.email}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">Telefone</label>
                <input type="text" name="telInput" [ngModel]="professional.phone" (ngModelChange)="professional.phone = $event" class="form-control" placeholder="{{professional.phone}}">
            </div>
            <div class="col-md-6">
                <label for="Cargo">Cargo</label>
                <select name="Cargos" class="form-control" required>
                    <option *ngFor="let role of roles" name="roleOption" value="{{role.name}}">{{professional.role}}</option>
                </select>
            </div>
        </div>
        <!-- Button Submit -->
        <button type="submit" class="btn-primary">Enviar</button>
    </form>
</div>
