<ava-hdr-app [pageName]="'Projetos'"[icon]="'glyphicon-folder-open'"></ava-hdr-app>
<div class="page-content">
    <table class="table table-borded table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cliente</th>
                <th>Data de inicio</th>
                <th>Data de fim</th>
                <th>WBS</th>
                <th>Responsável pelo Projeto Avanade</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects" (click)="projectDetails(project)">
                <td>{{project.name}}</td>
                <th>{{project.customerId}}</th>
                <th>{{project.dtInitial | date: "dd/MM/yyyy"}}</th>
                <th>{{project.dtFinal | date: "dd/MM/yyyy"}}</th>
                <th>{{project.wbs}}</th>
                <th>{{project.sponsorId}}</th>
            </tr>
        </tbody>
    </table>
    <form class="form" name="projectForm" *ngIf="selectedProject">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Nome</label>
                    <input [(ngModel)]="selectedProject.name" class="form-control" type="text" name="name" placeholder="Nome">
                </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                    <label for="">Cliente</label>
                    <input  class="form-control" type="text" name="customerId" placeholder="Cliente">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Data inicio</label>
                    <input class="form-control" type="text" name="dtInitial" placeholder="Data de incio">
                </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                    <label for="">Data fim</label>
                    <input  class="form-control" type="text" name="dtFinal" placeholder="Data fim">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">WBS</label>
                    <input class="form-control" type="text" name="wbs" placeholder="WBS">
                </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                    <label for="">Profissional</label>
                    <select  class="form-control" type="text" name="sponsorId" placeholder="Profissional">
                        <option *ngFor="let project of projects" value="{{project.professional.name}}"></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
