<ava-hdr-app [pageName]="'Clientes'" [icon]="'glyphicon glyphicon-user'"></ava-hdr-app>
<div class="page-content">
    <table class="table table-borded table-striped table-hover table-responsive">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Contato</td>
                <td>E-mail</td>
                <td>Responsavel pelo Cliente</td>
                <td>Detalhes</td>
                <td>Remover</td>
            </tr>
        </thead>
        <tbody *ngIf="sponsors">
            <tr *ngFor="let customer of customers">
                <td>{{ customer.id }}</td>
                <td>{{ customer.name}}</td>
                <td>{{ customer.contact }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ getSponsorName(customer) }}</td>
                <td><span class="glyphicon glyphicon-folder-open" [routerLink]=" '/customers/details/' + customer.id"></span></td>
                <td><span class="glyphicon glyphicon-trash" (click)="deleteCustomer(customer)"></span></td>
            </tr>
        </tbody>
    </table>
</div>